# macOS junk
.DS_Store
.AppleDouble
.LSOverride

# Environment files
*.env

# Python envs & weights
venv/
*.pt
*.dylib
*.so

# Node modules
node_modules/

# Editor folders
.vscode/
.idea/

# Logs
*.log

# System folders
Desktop/
Applications/
